html{
     height: 100%;
}
html, body{
      margin: auto;
      padding: auto !important;
}

body{
    width: 100vw !important;
    box-sizing: border-box !important;
    min-height: 100vh;
}
.navbar {
    background-color: dodgerblue ;
    margin-bottom: 2px;
    padding: auto;
}
.navbar:hover {
    background-color: burlywood;
    cursor: pointer;
}

.navbar-brand:hover{
    color: whitesmoke;  
}


 .navbar-brand .nav-img:hover { 
    content:url(img/hi-imge.png);
    cursor: pointer;
    image-rendering: auto; 
}

.carousel-section{
    width: 90vw;

}
.carousel-inner, #img1, #img2, #img3{
     width: 80vw !important;
     height: 700px;
     image-rendering: auto;
     image-orientation: auto !important;
}

#button-greet {
    float: left;
    background-color: #faebd7;
    border: auto solid darkgray;
    border-width: 5px;
    border-radius: 15px;
    color: darkslateblue;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    text-decoration: none;
}
#button-greet:hover {
      background-color: darkcyan;
      color: cornsilk
}
#button-hide-greet{
    float: right;
    background-color: plum;
    border: auto solid brown;
    border-width: 5px;
    border-radius: 15px;
    color: darkslateblue;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    text-decoration: none;
}
#button-hide-greet:hover {
    background-color: red;
    color: whitesmoke;
}
